[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	after = !git checkout main && git pull && git fetch --prune
	pirg = push -u origin HEAD
	s = status
	ch = checkout
	a = add
	c = commit -m
	p = push
	fp = push -f
	pu = pull
	b = branch
	rb = !git checkout main && git pull && git checkout - && git rebase main
	chm = checkout main --
	mb = reset --mixed HEAD~1
        cp = cherry-pick
	mnoff = merge --no-ff
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%ar%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[user]
	name = yiboduan
	email = yibo.duan@gmail.com
[push]
	default = simple
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color]
	ui = auto
[core]
	pager = less -FMRiX
	excludesfile = /home/duanyibo/.config/git/excludes
