[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	after = !git checkout mainline && git pull && git fetch --prune
	pirg = push -u origin HEAD
	s = status
	ch = checkout
	a = add
	c = commit -m
	p = push
	fp = push -f
	pu = pull
	b = branch
	rb = !git checkout mainline && git pull && git checkout - && git rebase mainline
	chm = checkout mainline --
	mb = reset --mixed HEAD~1
        cp = cherry-pick
	mnoff = merge --no-ff
[user]
	name = Yibo Duan
	email = duanyibo@amazon.com
[push]
	default = simple
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
